@model IEnumerable<register_and_login.Models.product>

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="@Url.Content("~/images/" + item.imagepath)"
                     alt="@item.name"
                     style="height: 200px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                    <p class="card-text">
                        Price: @Html.DisplayFor(modelItem => item.price)
                    </p>
                    <p class="card-text">
                        @if (item.categorys != null)
                        {
                            @Html.DisplayFor(modelItem => item.CategoryId) <!-- Make sure categorys is properly related -->
                        }
                        else
                        {
                            @* <span>No Category</span> *@
                        }
                    </p>
                    <button>Addtocard</button>
                        .
                </div>
            </div>
        </div>
    }
</div>

